@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@430&display=swap');

body {
    background-color: black ;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display:block;
    padding: 2rem 1.5rem;
    font-weight: lighter;
    text-align: left;
    margin: 0;
}

/* #ff2d39 */

h1 {
    font-family: 'Raleway', sans-serif;
    color: #ff2d39;
    font-size: xx-large;
    text-align:left;
}

strong{
    color: #ff2d39;
    font-size:large;
}


#publishdate{
    color: #f1f1f1;
    margin: 0;
}

b{
    font-weight: 590;
}


img {
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(199, 199, 199, 0.329), 0 2px 10px 0 rgba(199, 199, 199, 0.329);
}

